<div class="member-profile-publications publications">
  <ol class="bibliography">
    {% for publication in member.selected_publications %}
      <li>
        <div class="row">
          <div class="col-sm-10">
            <div class="title">{{ publication.title }}</div>
            <div class="periodical">
              {% if publication.venue != blank %}<em>{{ publication.venue }}</em>{% endif %}{% if publication.venue != blank and publication.year != blank %}, {% endif %}{% if publication.year != blank %}{{ publication.year }}{% endif %}
            </div>
            <div class="links">
              {% if publication.doi_url != blank %}<a href="{{ publication.doi_url }}" class="btn btn-sm z-depth-0" role="button">DOI</a>{% endif %}
              {% if publication.code != blank %}<a href="{{ publication.code }}" class="btn btn-sm z-depth-0" role="button">Code</a>{% endif %}
              {% if publication.pdf != blank %}<a href="{{ publication.pdf }}" class="btn btn-sm z-depth-0" role="button">PDF</a>{% endif %}
              {% if publication.website != blank %}<a href="{{ publication.website }}" class="btn btn-sm z-depth-0" role="button">Website</a>{% endif %}
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ol>
</div>
